

<h1 align=center><font size = 5>SQL Notebook</font></h1>

## Introduction
Using this Python notebook we will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Oracle database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires us to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip install sqlalchemy==1.4.39

Requirement already satisfied: sqlalchemy==1.4.39 in c:\users\pravin kumar pathak\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pravin kumar pathak\anaconda3\lib\site-packages (from sqlalchemy==1.4.39) (2.0.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
pip install cx_Oracle

Requirement already satisfied: cx_Oracle in c:\users\pravin kumar pathak\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import cx_Oracle

In [6]:
%sql oracle+cx_oracle://jupyter:12345@127.0.0.1:8080/?xe

'Connected: jupyter@'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [8]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [9]:
SPACEXTAB=df

In [10]:
%sql persist SPACEXTAB

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/

'Persisted spacextab'

**Note:This below code is added to remove blank rows from table**

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTAB where date_of is not null

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[]

## Tasks

Now let's write and execute SQL queries to solve the assignment tasks.


### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%sql select distinct Launch_Site from spacextable

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('KSC LC-39A',), ('CCAFS SLC-40',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%sql select * from(select * from spacextable where launch_site like 'CCA%') where rownum<=5

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[(85, datetime.datetime(2018, 12, 5, 0, 0), '18:16:00', 'F9 B5B1050', 'CCAFS SLC-40', 'SpaceX CRS-16', 2500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure'),
 (86, datetime.datetime(2018, 12, 23, 0, 0), '13:51:00', 'F9 B5B1054', 'CCAFS SLC-40', 'GPS III-01', 4400, 'MEO', 'USAF', 'Success', 'No attempt'),
 (88, datetime.datetime(2019, 2, 22, 0, 0), '1:45:00', 'F9 B5 B1048.3', 'CCAFS SLC-40', '"Nusantara Satu, Beresheet Moon lander, S5"', 4850, 'GTO', '"PSN, SpaceIL / IAI"', 'Success', 'Success'),
 (90, datetime.datetime(2019, 5, 4, 0, 0), '6:48:00', 'F9 B5B1056.1', 'CCAFS SLC-40', '"SpaceX CRS-17, Starlink v0.9"', 2495, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success'),
 (91, datetime.datetime(2019, 5, 24, 0, 0), '2:30:00', 'F9 B5 B1049.3', 'CCAFS SLC-40', '"Starlink v0.9, RADARSAT Constellation"', 13620, 'LEO', 'SpaceX', 'Success', 'Success')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%%sql select booster_version,sum(payload_mass__kg_)as total_payload_mass from spacextable where customer='NASA (CRS)' 
group by booster_version

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('F9 v1.1 B1010', 2216),
 ('F9 FT  B1035.2', 2205),
 ('F9 B4 B1045.2', 2697),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.1', 2296),
 ('F9 FT B1035.1', 2708),
 ('F9 B5 B1056.2', 2268),
 ('F9 B5 B1059.2', 1977),
 ('F9 B5 B1058.4', 2972),
 ('F9 v1.1 B1012', 2395),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1018', 1952),
 ('F9 FT B1031.1', 2490),
 ('F9 v1.1 B1015', 1898),
 ('F9 FT B1021.1', 3136),
 ('F9 FT B1025.1', 2257),
 ('F9 B4 B1039.1', 3310),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1', 2495)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%sql select avg(payload_mass__kg_) as average_payload_mass from spacextable where booster_version='F9 v1.1'

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[(Decimal('2928.4'),)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

In [16]:
%sql select min(date_of) as first_successful_groundpad from spacextable where landing_outcome='Success (ground pad)'

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[(datetime.datetime(2015, 12, 22, 0, 0),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [17]:
%%sql 
select distinct booster_version from spacextable where landing_outcome='Success (drone ship)' and payload_mass__kg_ 
between 4000 and 6000

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [18]:
%sql select mission_outcome,count(*)as Count from spacextable group by mission_outcome

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('Success (payload status unclear)', 1),
 ('Success', 99),
 ('Failure (in flight)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [19]:
%%sql
select booster_version as carrying_max_payload_mass from spacextable where payload_mass__kg_=
(select max(payload_mass__kg_) from spacextable)

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [20]:
%%sql
select to_char(date_of,'month') as month,landing_outcome,booster_version,launch_site from spacextable where 
landing_outcome='Failure (drone ship)' and extract(year from date_of)='2015'

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('january  ', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('april    ', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [21]:
%%sql
select landing_outcome,count,dense_rank() over (order by count desc) rank from
(select landing_outcome, count(*) as count from spacextable where date_of between to_date('2010-06-04','YYYY-MM-DD') and 
to_date('2019-03-20','YYYY-MM-DD') group by landing_outcome order by count(*))

 * oracle+cx_oracle://jupyter:***@127.0.0.1:8080/
0 rows affected.

[('No attempt', 20, 1),
 ('Success (drone ship)', 14, 2),
 ('Success', 10, 3),
 ('Success (ground pad)', 9, 4),
 ('Controlled (ocean)', 5, 5),
 ('Failure (drone ship)', 5, 5),
 ('Failure (parachute)', 2, 6),
 ('Uncontrolled (ocean)', 2, 6),
 ('Precluded (drone ship)', 1, 7),
 ('Failure', 1, 7)]